$black: #333333
$offwhite: #f9f9f9
$white: #ffffff
$light-blue: #e0e0ff
$light-rust: #f1ebe9

$hour-height: 3rem
$small-radius: 3px

*
  box-sizing: border-box
  font-family: 'Helvetica Neue', sans-serif

html, body
  font-size: 14px
  margin: 0
  padding: 0

.calendar-container
  background: $offwhite
  padding: 1rem

.week
  display: flex
  border: 1px solid $black
  height: 75vh
  overflow: scroll

.day
  position: relative
  flex: 1 0
  padding: 0.5rem
  height: calc(75rem - 2px)

  &:nth-child(2n+0)
    background: $light-rust

.day-name
  margin: 0 0 1rem

.hour
  height: $hour-height

.event
  position: absolute
  left: 0
  right: 0
  background: $light-blue
  border: 1px solid $white
  border-radius: $small-radius

  &:hover
    z-index: 10

  & + .event
    left: 15%
