h3.calendar-title Welcome to your weekly calendar
.week
  .day
    h3.day-name Monday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
  .day
    h3.day-name Tuesday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
    .event.two
      .event-time 1pm-3pm
      .event-title Lunch with Bec
    .event.three
      .event-time 2pm-5pm
      .event-title Lunch with Andrew
  .day
    h3.day-name Wednesday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
    .event.two
      .event-time 2pm-4pm
      .event-title Coffee at Jared's Place
  .day
    h3.day-name Thursday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
  .day
    h3.day-name Friday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
  .day
    h3.day-name Saturday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
  .day
    h3.day-name Sunday
    .hour 9am
    .hour 10am
    .hour 11am
    .hour 12pm
    .hour 1pm
    .hour 2pm
    .hour 3pm
