h3.calendar-title Welcome to your weekly calendar

.week
  each day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    .day
      h3.day-name= day
      each hour in [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
        .hour= hour + 'am'
      each hour in [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
        .hour= hour + 'pm'
